MONGO_URI=open_mongodbapp_add_new_connection_then_copy_details_and_paste_here
PORT=3000
JWT_SECRET=your_secret_key
EMAIL_USER=jobsy.notifications@gmail.com
EMAIL_PASS=oqze ujks ofbf hbrn
BACKEND_URL=http://localhost:3000
RECAPTCHA_SITE_KEY=6Ld0MegqAAAAAL4uuTrmhXFSzr2Aa2hveZnwcm2G
RECAPTCHA_SECRET=6Ld0MegqAAAAAHzTqjHelWZHb8yDvZk7KhcVBB60
CLOUDINARY_CLOUD_NAME=dkdkcg7vu
CLOUDINARY_CLOUD_API_KEY=952137827541468
CLOUDINARY_CLOUD_API_SECRET=GwJPGav17Ajk7gYF_vqhwN9urF0
STRIPE_SECRET_KEY=sk_test_51RGLrrLZkBfBWV7KciR0S1IzsrvbGMX3OFWlzwM5tmiDHy2gZdTbbOYmnHYbjlLopufkU43sVtPrVR4Pg8Hu66vY007sanizxr
ADMIN_JWT_SECRET=super_secret_admin
ADMIN_REGISTRATION_KEY=your_Strong_Secret
ADMIN_JWT_SECRET=super_secret_admin
ADMIN_REGISTRATION_KEY=your_Strong_Secret

